<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="/public/layui/css/layui.css">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">

    <!-- 引入左边侧边栏 -->
    {{ include './common/header.html' }}

    <!-- 引入左边侧边栏 -->
    {{ include './common/side.html' }}


    <div class="layui-body">

      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <h2>栏目管理</h2>
        <table class="layui-table" lay-size="sm">
          <colgroup>
            <col width="100">
            <col width="100">
            <!-- 不写宽度即平分剩余空间 -->
            <col width="">
            <col width="">
            <col width="150">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>序号</th>
              <th>分类名称</th>
              <th>排序</th>
              <th>添加时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody id="tbody">
            

          </tbody>
        </table>
      </div>
    </div>

    <!-- 引入左边侧边栏 -->
    {{ include './common/footer.html' }}

  </div>
  <!-- 注意引入的依赖顺序 -->
  <script src="/public/layui/layui.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="/public/js/moment.js"></script>
  <script src="/public/js/util.js"></script>
  <script>
    // console.log(util)
    // 渲染表格数据
    function renderTable(data){
      let tbodtHtml = ``;
      data.forEach((item,index)=>{
        let {name,sort,add_date,cat_id} = item;
        // add_date = moment(add_date).format('YYYY-MM-DD HH:mm:ss')
        add_date = util.date_format(add_date,'YYYY-MM-DD')
        tbodtHtml += `
            <tr>
              <td>${index + 1}</td>
              <td>${name}</td>
              <td>${sort}</td>
              <td>${add_date}</td>
              <td>
                  <div class="layui-btn-group">
                    <button title='编辑' type="button" class="layui-btn "><i class="layui-icon">&#xe642;</i></button>
                    <button title='删除' cat_id='${cat_id}' type="button" class="layui-btn layui-btn-danger del"><i class="layui-icon">&#xe640;</i></button>
                  </div>
              </td>
            </tr>
        `;
        // 把数据赋值给id=tbody元素
        $("#tbody").html(tbodtHtml)
      })
    }


    function initCatData(){
      $.ajax({
        url: "/getCate",
        dataType:'json'
      }).then(res=>{
        // 动态创建tr，追加到tboby下面去
        renderTable(res)
      })
    }
    
    // 发送ajax请求 获取数据
    initCatData()


    //JavaScript代码区域
    // layui会自动把layer变为全局
    layui.use(['layer','element'], function () {

    });
  
   
  
    // ajax删除(需要委托绑定，因为元素是动态新增)
    $("tbody").on('click','.del',function(){
     


      let _this = $(this); // 保存当前点击的对象
      // 获取自定义属性的值即分类的id
      let cat_id = $(this).attr('cat_id');
      // 防止误删除
      layer.confirm('确认删除吗', {
        btn: ['是的','取消'] //按钮
      }, function(){
        // 发送ajax进行删除
        $.ajax({
          type:'post',
          url:"delCat",
          data:{cat_id},
          dataType:"json"
        }).then(res=>{
            let {errcode,message} = res;
            if(errcode == 0){
              // _this.parent().parent().parent().remove();
              _this.parents('tr').remove();
              // 关闭确认框 还要把tr移除掉
              layer.closeAll(); //疯狂模式，关闭所有层
               // 找到每个tr中的第一个td,重新编号
              $.each($("#tbody tr").find('td:eq(0)'),function(index,ele){
                  $(ele).html(index + 1)
              })
              
              layer.msg(message)
            }
        }).catch(err=>{
          layer.closeAll(); //疯狂模式，关闭所有层
        })
      });
    })

   
  
  </script>
</body>

</html>